html, body, p, div {
    margin: 0;
    padding: 0;
    border: 0;
}

.card {
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;

    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

.center {
    margin: auto;
}

.login-control {
    padding-right: .5em;
    padding-left: .5em;

    max-width: 25em;
}

.login-form {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    font-family: "Roboto Mono", monospace;
    background-color: #F7F7F7;
}

.login-form input, p{
    font-family: inherit;
}

.login-row {
    padding: 1em;
}

.login-header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.login-title {

}

.login-message {
    text-align: right;
}

.error {
    color: red;
}

.login-input {
    width: 100%;
    height: 2.5em;
    border: 1px solid #C8C8C8;
}

.login-button {
    background-color:#3bb2ff;
    background: -moz-linear-gradient(45deg, #3bb2ff 0%, #3bb2ff 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3bb2ff), color-stop(100%, #3bb2ff)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #3bb2ff 0%, #3bb2ff 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #3bb2ff 0%, #3bb2ff 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #3bb2ff 0%, #3bb2ff 100%); /* ie10+ */
    background: linear-gradient(45deg, #3bb2ff 0%, #3bb2ff 100%); /* w3c */

    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border: 1px solid #0FA0FF;

    color: white;
    cursor:pointer;
    text-decoration: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.login-button:hover {
    background-color:#0399FB;
    background: -moz-linear-gradient(45deg, #0399FB 0%, #0399FB 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #0399FB), color-stop(100%, #0399FB)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #0399FB 0%, #0399FB 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #0399FB 0%, #0399FB 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #0399FB 0%, #0399FB 100%); /* ie10+ */
    background: linear-gradient(45deg, #0399FB 0%, #0399FB 100%); /* w3c */
}

.login-button:active {
    background-color: #64C2FF;
    background: -moz-linear-gradient(45deg, #64C2FF 0%, #64C2FF 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #64C2FF), color-stop(100%, #64C2FF)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #64C2FF 0%, #64C2FF 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #64C2FF 0%, #64C2FF 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #64C2FF 0%, #64C2FF 100%); /* ie10+ */
    background: linear-gradient(45deg, #64C2FF 0%, #64C2FF 100%); /* w3c */
}

.hidden {
    display: none;
}
